<h1>Burgers!</h1>
<section class="container">
    <div class="row">
        <section class="col-5 mainContent">
            <h2>Burgers that have not been devoured!</h2>
            <div>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </div>
        </section>
        <section class="col-5 mainContent" id="devoured">
            <h2>Cats that are sleepy!</h2>
            <div>
                {{#each burgers}}
                {{#if devoured}}
                {{> burger/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </div>
        </section>
    </div>
</section>



<section class="container" id="addBurger">
    <h2>Add a Burger</h2>
    <form id="create-form">

        <div class="form-group">
            <div>
            <label for="ca">Burger Name:</label>
            </div>
            <input type="text" id="ca" name="name">
        </div>

        <div class="form-group">
            <label for="devoured">devoured?</label><br>
            <input type="radio" name="devoured" value="1" id="devoured" checked> devoured!<br>
            <input type="radio" name="devoured" value="0" id="awake"> Pending Smashing!
        </div>

        <button type="submit">Add Burger</button>
    </form>
</section>