

#addBurger {
    width: 40%;
}

.listItem {
    border-bottom: solid 2px;
    width: 100%;
    text-align: center;
}

.burgerBtn {
    margin-right: 1em;
    border-style: none;
    border-top: solid;
    border-right: solid;
    border-left: solid;
}

.mainContent {
    background-color: lightseagreen;
    margin:1em;
    border-radius: .5em;
}