#addBurger {
  display: inline-flex;
  justify-content: center;
}

.add_section {
  width: 60%;
  justify-content: center;
  background-color: cadetblue;
  border-radius: 2em;
}

.create-form {
  display: flex;
}

.addAburger {
  margin-left: 1em;
}

.burgername {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger_btn {
  height: 4em;
  width: 4em;

  border-style: none;
  border: solid;
  border-radius: 50%;
}

.addheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listItem {
  background-color: cadetblue;
  border-radius: 2em;
  margin: 0.2em;
  width: 100%;
  text-align: center;
  display: inline-flex;
}

.burgerBtn {
  justify-content: center;
  margin: 0.5em;
  border-style: none;
  border: solid;
  border-radius: 2em;
}

.content {
    display: flex;
    justify-content: center;
}

.mainContent {
  margin: 1em;
  border-radius: 0.5em;
  justify-content: center;
}

.burgerName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
